.serie{
    border: 2px solid white;
    border-radius: 16px;
    width: 64em;
    padding: 2em;
    margin: 2em 4em;
    background: #242424;
}

.serie-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 16px;
}
  
.poster {
    max-height: 320px;
    width: auto;
}
  
.seasons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px; 
}

img{
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

ul, li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.trailer {
    text-align: center;
}
  
.trailer > h2 {
    text-align: left;
}

.trailer iframe {
    margin: 0 auto;
}

.userAction{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.rating, .userAction, .listeEpisodesSaisons{
    margin: 1em 0;
}

h6{
    margin: -2em 0 2em 0;
}

.showSeasonBtn{
    margin: 1em 0 0 0;
}

.listeInfos{
    display:flex;
    flex-wrap: wrap;
    align-content: normal;
    justify-content: space-between;
    align-items: center;
}